@model DTS.Models.PrinterColorModel
@{
    var SRNO = 1;
}

<form style="padding-top:15px">
    <hr />
    <h2>List of PrinterColor</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    Sr. No
                </th>
                <th>
                    PrinterColor Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        @if (Model.LIST_PRINTERCOLOR.Count > 0 && Model.LIST_PRINTERCOLOR[0].Message == null)
        {
            foreach (var item in Model.LIST_PRINTERCOLOR)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.PrinterColorId, new { @class = "PrinterColorId" })
                        @SRNO
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrinterColor)
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="EditPrinterColor(@item.PrinterColorId)">Edit</button>
                        <button type="button" class="btn btn-danger" onclick="DeletePrinterColor(@item.PrinterColorId)">Delete</button>

                    </td>
                </tr>
                SRNO++;
            }
        }
        else
        {
            <tr class="table-danger">
                <td colspan="3" style="text-align: center">No Data Exists</td>
            </tr>
        }
    </table>
</form>




