@model DTS.Models.ProcessorModel
@{
    var SRNO = 1;
}

<form style="padding-top:15px">
    <hr />
    <h2>List of Processors</h2>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    Sr. No
                </th>
                <th>
                    Processor Name
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        @if (Model.LIST_PROCESSOR.Count > 0 && Model.LIST_PROCESSOR[0].Error == null)
        {
            foreach (var item in Model.LIST_PROCESSOR)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.ProcessorId, new { @class = "ProcessorId" })
                        @SRNO
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProcessorType)
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="EditProcessor(@item.ProcessorId)">Edit</button>
                        <button type="button" class="btn btn-danger" onclick="DeleteMaker(@item.ProcessorId)">Delete</button>

                    </td>
                </tr>
                SRNO++;
            }
        }
        else
        {
            <tr class="table-danger">
                <td colspan="3" style="text-align: center">No Data Exists</td>
            </tr>
        }
    </table>
</form>



